# Enviornment
ENVIORNMENT=DEVELOPMENT

# Express port
EXPRESS_PORT=5000

# Mongo URI
MONGO_URI=

# Discord
DISCORD_BOT_TOKEN=
DISCORD_BOT_CLIENT_ID=
DISCORD_INVITE_LINK=

# Session secret for express-session
EXPRESS_SESSION_SECRET=

# OAuth2 information
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OAUTH2_REDIRECT_URL=